<div class="well">

  <!-- <% if @game.player_hand.total > 21 %>
    You Busted!
  <% elsif @game.player_wins? %>
    You Win!
  <% else %>
    Dealer Wins
  <% end %> -->
</div>

<h2>Dealer Hand</h2>

<div class="row">
  <% @game.dealer_hand.cards.each do |card| %>
    <%= image_tag "#{card.name}#{card.suit}.png" %>
  <% end %>
</div>
<%= @game.dealer_hand.total %>

<h2>Player Hand</h2>

<div class="row">
  <% @game.player_hand.cards.each do |card| %>
    <%= image_tag "#{card.name}#{card.suit}.png" %>
  <% end %>
</div>
<div class="thumbnail col-md-2">
  <%= link_to "Hit", player_hit_game_path(id: @game.id), method: :post, class: "btn btn-success btn-lrg btn-block" %>
  <br/>
  <span>
    Player Total: <%= @game.player_hand.total %><br/>
    <%= @game.player_hand.is_finished %>
  </span>
  <br/>
  <%= link_to "Stay", end_player_turn_game_path(id: @game.id), method: :patch, class: "btn btn-danger btn-lrg btn-block" %>

</div>
